/*
* <div placement="top-left"></siv>
* <div placement="bottom-right"></siv>
**/
[direction] {
  display: flex;
  gap: 12px;
}

[direction^="column"] {
  flex-direction: column;
}

[direction^="reverse"] {
  flex-flow: reverse;
}

[placement] {
  display: flex;
}

[placement^="top"] {
  align-self: start;
}

[placement^="bottom"] {
  align-self: end;
}

[placement$="left"] {
  justify-self: start;
}

[placement$="right"] {
  justify-self: start;
}

[align-content] {
  display: flex;
  gap: 12px;
}

[align-content^="center"] {
  align-content: center;
}

[align-content^="top"] {
  align-content: start;
}

[align-content^="bottom"] {
  align-content: end;
}

[align-content$="center"] {
  justify-content: center;
}

[align-content$="left"] {
  justify-content: start;
}

[align-content$="right"] {
  justify-content: end;
}

[align-content$="around"] {
  justify-content: space-around;
}

[align-content$="between"] {
  justify-content: space-between;
}
