$carouselHeight: 15rem;
$cardMedium: 12rem;

$headerDepth: clamp(9vh, 15vw, 15em);
$footerDepth: clamp(3vh, 15vw, 5em);

$max-content-width: 1268px;

$content-gutter-width: 0rem;
$content-padding-width: 1.2rem;
